.app {
  min-height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 600px 1fr;
  grid-template-rows: 1fr minmax(70vh, auto) 1fr;
  background-image: url("./mars.jpg");
  background-size: cover;
}

